* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MaTypo';
    src: url('fonts/Nudles-Hairline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaTypo';
    src: url('fonts/Nudles-Fat.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'MaTypo', Arial, sans-serif;
    background: white;
}



/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 1000;
}

.nav-left .logo {
    display: inline-block;
}

.nav-left .logo img {
    height: 30px;
    /* Ajustez la taille selon vos besoins */
    width: auto;
}

.nav-right {
    display: flex;
    gap: 30px;
}

.nav-right a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    transition: opacity 0.3s;
}

.nav-right a:hover {
    opacity: 0.6;
}



/* Container - UNE SEULE DÉCLARATION */
.container {
    display: flex;
    min-height: 100vh;
    margin-top: 80px;
    /* Tout regroupé ici */
}

.left-panel {
    width: 40%;
    padding: 40px;
}

.project-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}

.project-item:hover {
    color: #666;
}

.right-panel {
    width: 60%;
    padding: 40px;
}

/* Styles pour le contenu des projets */

.projects-title-date {
    margin-bottom: 25px;
}

.project-title {
    margin-bottom: 10px;
    font-size: 24px;
}


.projects-details {
    margin-bottom: 50px;
}

.projects-details p {
    margin: 15px 0;
}


.projects-softwaresdiv {
    margin: 30px 0;
    /* Changé de 0px à 30px pour voir la différence */
}

.projects-softwaresdiv p {
    margin: 0;
    /* Style pour le <p> à l'intérieur */
}


.project-image {
    width: 25%;
    /* Changé de 10% à 100% */
    height: auto;
    margin-top: 20px;
}


/* -- PAGE CONTACT.html -- */
.contacts {
    align-items: center;
    width: 50%;
    padding: 40px;
}

.contact-item {
    align-items: center;
    justify-content: center;
    display: flex;
    /*justify-content: space-between;*/
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    font-size: 50px;
    border: solid;
    border-width: 1px;
    border-radius: 500px;
    margin-bottom: 10px;
}

/* -- PAGE INDEX.html -- */
.welcome {
    width: 100%;
    justify-content: center;
    padding: 40px;
}

.welcome-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centre verticalement */
    min-height: 100vh;
    /* Hauteur de l'écran */
    font-size: 200px;
}

.welcome-item a {
    text-decoration: none;
    color: #000;
}

.welcome-item a:hover {
    opacity: 0.6;
}


/* -- PAGE ABOUT-ME.html -- */
.about-me {
    padding: 100px;
}

.labeur {
    font-size: 25px;
    line-height: 1.6;
}

.button {
    text-decoration: none;
    position: fixed;
    bottom: 20px;      /* Distance du haut */
    right: 20px;    /* Distance de la droite */
    z-index: 1000;  /* Au-dessus des autres éléments */
    border: solid;
    border-width: 1px;  
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color :#c9c9c9;
    }

.reset-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: #c9c9c9; /* Ajouter la couleur ici aussi */

}

